.A {
  background-color: #ec6410;
}

.B {
  background-color: #b5a834;
}

.C {
  background-color: #f5f506;
}

.D {
  background-color: #13307e;
}

.E {
  background-color: #000000;
}

.F {
  background-color: #58ae1f;
}

.G {
  background-color: #e5120f;
}

.H {
  background-color: #359ad4;
}

.I {
  background-color: #ce6fb1;
}

.J {
  background-color: #204313;
}

.K {
  background-color: #2e1d05;
}

.L {
  background-color: #fffffb;
}

.M {
  background-color: #eaa1e5;
}

.N {
  background-color: #e95d0c;
}

.O {
  background-color: #a48544;
}

.P {
  background-color: #f9cc04;
}

.Q {
  background-color: #0a4790;
}

.R {
  background-color: #000000;
}

.S {
  background-color: #108d07;
}

.T {
  background-color: #ce2623;
}

.U {
  background-color: #0a9ace;
}

.V {
  background-color: #b360a1;
}

.W {
  background-color: #28481b;
}

.X {
  background-color: #42270f;
}

.Y {
  background-color: #fffffb;
}

.Z {
  background-color: #eaaade;
}

.Mc {
  background-color: #eaaade;
}

.Assorted {
  background-color: #fffffb;
}

.BY_08 {
  background-color: #fbff00;
}

.BY_09 {
  background-color: #fbff00;
}

.BY_10 {
  background-color: #fbff00;
}

.BY_11 {
  background-color: #fbff00;
}

.BY_12 {
  background-color: #fbff00;
}

.BY_13 {
  background-color: #fbff00;
}

.BY_14 {
  background-color: #fbff00;
}

.BY_15 {
  background-color: #fbff00;
}

.BY_16 {
  background-color: #fbff00;
}

.BY_17 {
  background-color: #fbff00;
}

.BY_18 {
  background-color: #fbff00;
}

.BY_19 {
  background-color: #fbff00;
}

.BY_20 {
  background-color: #fbff00;
}

.BY_21 {
  background-color: #fbff00;
}

.BY_22 {
  background-color: #fbff00;
}

.BY_23 {
  background-color: #fbff00;
}

.BY_24 {
  background-color: #fbff00;
}

.BY_25 {
  background-color: #fbff00;
}

.BY_26 {
  background-color: #fbff00;
}

.CBK0 {
  background-color: #a5a73d;
}

.CBK1 {
  background-color: #a5a73d;
}

.CBK2 {
  background-color: #a5a73d;
}

.CBK3 {
  background-color: #a5a73d;
}

.CBK4 {
  background-color: #a5a73d;
}

.CBK5 {
  background-color: #a5a73d;
}

.CBK6 {
  background-color: #a5a73d;
}

.CBK7 {
  background-color: #a5a73d;
}

.CBK8 {
  background-color: #a5a73d;
}

.CBK9 {
  background-color: #a5a73d;
}

.CBKS {
  background-color: #a5a73d;
}

.CBKP {
  background-color: #a5a73d;
}

.CBKD {
  background-color: #a5a73d;
}

._0000 {
  background-color: #fafafa;
}

._1000 {
  background-color: #fafafa;
}

._2000 {
  background-color: #fafafa;
}

._3000 {
  background-color: #fafafa;
}

._4000 {
  background-color: #fafafa;
}

._5000 {
  background-color: #fafafa;
}

._6000 {
  background-color: #fafafa;
}

._7000 {
  background-color: #fafafa;
}

._8000 {
  background-color: #fafafa;
}

._9000 {
  background-color: #fafafa;
}

.Amber_Gold {
  background-color: #d5b259;
}

.Aluminum {
  background-color: #84878a;
}

.Anthracite {
  background-color: #575859;
}

.Anthr_White {
  background-color: #575859;
}

.Apr {
  background-color: #366328;
}

.Aquatic_Blue {
  background-color: #61cffa;
}

.Ash {
  background-color: #b8c6cc;
}

.Athletic_Gold {
  background-color: #f5d106;
}

.Athletic_Heather {
  background-color: #a7a7a8;
}

.Athletic_Maroon {
  background-color: #452222;
}

.Athletic_Oxford {
  background-color: #9b9ea17c;
}

.Athletic_Purple {
  background-color: #580baf;
}

.Athletic_Red {
  background-color: #c91818;
}

.Athletic_Royal {
  background-color: #145cb4;
}

.Atomic_Blue {
  background-color: #19bbb3;
}

.Aug {
  background-color: #523117;
}

.Beige {
  background-color: #e4be6d;
}

.Battleship_Grey {
  background-color: #444649;
}

.BKHP0 {
  background-color: black;
}

.BKHP1 {
  background-color: black;
}

.BKHP2 {
  background-color: black;
}

.BKHP3 {
  background-color: black;
}

.BKHP4 {
  background-color: black;
}

.BKHP5 {
  background-color: black;
}

.BKHP6 {
  background-color: black;
}

.BKHP7 {
  background-color: black;
}

.BKHP8 {
  background-color: black;
}

.BKHP9 {
  background-color: black;
}

.BKHPS {
  background-color: black;
}

.BKHPP {
  background-color: black;
}

.BKHPD {
  background-color: black;
}

.Beryl_Grn_Hthr {
  background-color: rgb(192, 224, 167);
}

.Black {
  background-color: black;
}

.Black_Green_Stitch {
  background-color: black;
}

.Black_Red_Stitch {
  background-color: black;
}

.Black_White_Stitch {
  background-color: black;
}

.Blk_Blk {
  background-color: black;
}

.Blk_Game_Royal {
  background-color: black;
}

.Black_Tan {
  background-color: black;
}

.Blk_White {
  background-color: black;
}

.Blacktop {
  background-color: black;
}

.Black_Charcoal_Heather {
  background-color: #524d4fdb;
}

.Black_GreySteel {
  background-color: black;
}

.Black_Heather {
  background-color: rgba(104, 101, 101, 0.986);
}

.Black_Leather {
  background-color: black;
}

.Black_Metal {
  background-color: black;
}

.Black_Solid {
  background-color: black;
}

.Black_White{
  background-color: black;
}

.Blk_Char{
  background-color: black;
}

.Blk_Char{
  background-color: black;
}

.Blk_Graphite{
  background-color: black;
}

.Black_Melange{
  background-color: black;
}

.Blk_True_Red{
  background-color: black;
}

.Blk_Yllw{
  background-color: black;
}

.Blu_Wht{
  background-color: rgb(35, 84, 174);
}

.Blue {
  background-color: #09399e;
}

.Blue24 {
  background-color: #1b6cce;
}

.Blue25 {
  background-color: #1b6cce;
}

.Blue26 {
  background-color: #1b6cce;
}

.Blue_Lake {
  background-color: #66baeb;
}

.Blue_Mist {
  background-color: #5dabbe;
}

.Blue_Nights {
  background-color: #082d59;
}

.Blue_Tint {
  background-color: #cefff3;
}

.Blue_Yellow {
  background-color: #f5ed05;
}

.BLW0 {
  background-color: #0591f5;
}

.BLW1 {
  background-color: #0591f5;
}

.BLW2 {
  background-color: #0591f5;
}

.BLW3 {
  background-color: #0591f5;
}

.BLW4 {
  background-color: #0591f5;
}

.BLW5 {
  background-color: #0591f5;
}

.BLW6 {
  background-color: #0591f5;
}

.BLW7 {
  background-color: #0591f5;
}

.BLW8 {
  background-color: #0591f5;
}

.BLW9 {
  background-color: #0591f5;
}

.BLWP {
  background-color: #0591f5;
}

.BLWD {
  background-color: #0591f5;
}

.BLWS {
  background-color: #0591f5;
}

.Bright_Purple {
  background-color: #25022c;
}

.Bright_White {
  background-color: #ffffff;
}

.Brilliant_Blue_Hthr {
  background-color: rgb(159, 233, 247);
}

.Brilliant_Orange {
  background-color: rgb(248, 76, 8);
}

.Brown {
  background-color: rgb(77, 43, 21);
}

.Buff {
  background-color: rgb(227, 195, 125);
}

.Burgundy {
  background-color: #6f0f08;
}

.Cabernet {
  background-color: #771111f1;
}

.Candy_Pink {
  background-color: #e7a5d3f1;
}

.Cardinal {
  background-color: #6b1d1d;
}

.Carolina_Blue {
  background-color: #55a3e2;
}

.Char24 {
  background-color: #b7c74a;
}

.Char25 {
  background-color: #b7c74a;
}

.Char26 {
  background-color: #b7c74a;
}

.Charcoal {
  background-color: #575859;
}

.Charcoal_Grey {
  background-color: #464747;
}

.Chili_Pepper {
  background-color: #c22713;
}

.Charcoal_Heather {
  background-color: #252627;
}

.Chrome_Faced {
  background-color: #5a5a5b;
}

.Chrome {
  background-color: #5a5a5b;
}

.Chrome_Plated {
  background-color: #5a5a5b;
}

.Classic_Blue {
  background-color: rgb(44, 163, 199);
}

.Clear {
  background-color: rgb(202, 206, 207);
}

.Clover_Green {
  background-color: rgb(83, 124, 72);
}

.Club_Green {
  background-color: rgb(9, 90, 6);

}
.Clear_Plastic {
  background-color: rgb(202, 206, 207);
}

.Colonial_Blue {
  background-color: rgb(61, 145, 167);
}

.Colors {
  background-color: #ffffff;
}

.Crimson {
  background-color: rgb(131, 17, 17);
}

.Coastal_Blue {
  background-color: rgb(34, 166, 243);
}

.Cobalt_Blue {
  background-color: rgb(56, 117, 209);
}

.College_Navy {
  background-color: rgb(19, 22, 48);
}

.Collegiate_Purple {
  background-color: rgb(70, 10, 150);
}

.Collegiate_Red {
  background-color: rgb(222, 13, 13);
}

.Collegiate_Royal {
  background-color: rgb(8, 92, 236);
}

.Cool_Grey {
  background-color: #aeafb1;
}

.Cool_Grey_White {
  background-color: #aeafb1;
}

.Court_Blue {
  background-color: #1e546c;
}

.Court_Green {
  background-color: #389430;
}

.Court_Purple {
  background-color: #502c79;
}

.Coyote_Brown {
  background-color: #695820;
}

.Dark_Grey {
  background-color: #5e666a;
}

.Dark_Pine {
  background-color: #126424;
}

.Dark_Purple {
  background-color: #3e0f7c;
}

.Dark_Royal {
  background-color: #190ae2;
}

.Dk_Green {
  background-color: rgb(32, 61, 7);
}

.Drk_Gry_Hthr {
  background-color: rgb(43, 42, 42);
}

.Drk_Hthr_Gry {
  background-color: rgb(99, 96, 96);
}

.Dec {
  background-color: #0d3403;
}

.Deep_Black {
  background-color: rgb(20, 20, 20);
}

.Deep_Navy {
  background-color: rgb(4, 16, 45);
}

.Deep_Navywt {
  background-color: rgb(29, 40, 66);
}

.Deep_Orange {
  background-color: #ce4d1a;
}

.Deep_Red {
  background-color: #a81212;
}

.Deep_Smoke {
  background-color: #737777;
}

.Diesel_Grey {
  background-color: rgb(85, 80, 80);
}

.Direct_Blue {
  background-color: #108fb6;
}

.Dress_Blue_Navy {
  background-color: #192b5c;
}

.Electric_Blue {
  background-color: rgb(13, 135, 216);
}

.Engine_Red {
  background-color: rgb(196, 2, 2);
}

.Feb {
  background-color: #f6de09;
}

.Federal_Blue {
  background-color: #72a5d2;
}

.Forest_Green {
  background-color: #025225;
}

.FlameRed {
  background-color: #c91a1a;
}

.Flame_Red {
  background-color: #c91a1a;
}

.Fluorg {
  background-color: #90f111;
}

.Fluoro {
  background-color: #fe5f04;
}

.Fluorp {
  background-color: #f107ab;
}

.Fluorr {
  background-color: #e60f0f;
}

.Fluory {
  background-color: #f6ff00;
}

.Fuchsia {
  background-color: #c421ae;
}

.Full_Color {
  background-color: #ffffff;
}

.Game_Royal {
  background-color: rgb(13, 17, 237);
}

.Gear_Grey_Hthr {
  background-color: #a7a5a0;
}

.Gold {
  background-color: #8c630b;
}

.Gold_Black {
  background-color: #c98c09;
}

.GDBK0 {
  background-color: #9e774f;
}

.GDBK1 {
  background-color: #9e774f;
}

.GDBK2 {
  background-color: #9e774f;
}

.GDBK3 {
  background-color: #9e774f;
}

.GDBK4 {
  background-color: #9e774f;
}

.GDBK5 {
  background-color: #9e774f;
}

.GDBK6 {
  background-color: #9e774f;
}

.GDBK7 {
  background-color: #9e774f;
}

.GDBK8 {
  background-color: #9e774f;
}

.GDBK9 {
  background-color: #9e774f;
}

.GDBKP {
  background-color: #9e774f;
}

.GDBKD {
  background-color: #9e774f;
}

.GDBKS {
  background-color: #9e774f;
}

.Gorge_Green {
  background-color: #025225;
}

.Graphite {
  background-color: #555555f1;
}

.Graphite_Black {
  background-color: #555555f1;
}

.Graphite_Graphite {
  background-color: #555555f1;
}

.Graphite_White {
  background-color: #555555f1;
}

.Gray {
  background-color: #8b8c8f;
}

.Green {
  background-color: #245c05;
}

.Grey {
  background-color: #8b8c8f;
}

.Grey_Heather {
  background-color: #aab0bbf1;
}

.Grey_Concrete {
  background-color: #9da6b0;
}

.Grey_Steel {
  background-color: #575859;
}

.GreySteel {
  background-color: #575859;
}

.Gridiron_Green {
  background-color: #42993f;
}

.Gunmetal {
  background-color: #5a5a5b;
}

.Gusty_Grey {
  background-color: #afafaf;
}

.Gym_Blue {
  background-color: #0653cf;
}

.Gym_Blue_White {
  background-color: #3b88b1;
}

.Gym_Red {
  background-color: #da2c2c;
}

.Happy {
  background-color: #ffe102;
}

.HthrGry {
  background-color: #a2a5a7;
}

.Heather_Grey_Black {
  background-color: #b7bec1;
}

.Heather_Grey_White {
  background-color: #b7bec1;
}

.Hot_Pink {
  background-color: #e30feb;
}

.Hunter {
  background-color: #025225;
}

.Insignia_Blue {
  background-color: #4f6185;
}

.Iron_Grey {
  background-color: #5f6062;
}

.Jan {
  background-color: #074790;
}

.Jet_Black {
  background-color: #040508;
}

.JNavy {
  background-color: #071231;
}

.Jul {
  background-color: #641159;
}

.Jun {
  background-color: #d04f20;
}

.Kelly_Green {
  background-color: #0d8041;
}

.Khaki{
  background-color: #f5e589;
}

.Kraft_Paper {
  background-color: #f0b30a;
}

.Light_Blue {
  background-color: #6eb6ed;
}

.Light_Blue_Hthr {
  background-color: #9bc8eb;
}

.LightKhaki {
  background-color: #dbcd84;
}

.Light_Khaki_White {
  background-color: #dbcd84;
}

.Light_Pink {
  background-color: #e9a5d8;
}

.Lavender {
  background-color: #a880ad;
}

.Light_Photo_Blue {
  background-color: #1da1f3;
}

.Lilac {
  background-color: #c9aee2;
}

.Lime {
  background-color: #70a44e;
}

.Lime_Green {
  background-color: #87ec43;
}

.Lime_Shock {
  background-color: #8ab821;
}

.Loden {
  background-color: #61684f;
}

.Lucid_Green {
  background-color: #2bbd2b;
}

.Magenta {
  background-color: rgb(182, 28, 164);
}

.Magnet {
  background-color: rgb(99, 93, 93);
}

.Magnetic_Blue {
  background-color: rgb(0, 129, 214);
}

.Mandarin_Orange {
  background-color: rgb(224, 147, 46);
}

.Mar {
  background-color: #49505f;
}

.May {
  background-color: #000000;
}

.Mediterranean_Blue {
  background-color: #063e72;
}

.Metal {
  background-color: rgb(151, 151, 151);
}

.Metallic {
  background-color: rgb(151, 151, 151);
}

.Maroon {
  background-color: #421111;
}

.Marshmallow {
  background-color: #f5ecec;
}

.Medium_Blue {
  background-color: #1cc5f0f1;
}

.Medium_Grey {
  background-color: #6c6d74;
}

.Medium_Grey_Hthr {
  background-color: #6c6d74;
}

.Meld_Grey_Hthr {
  background-color: #5b5e5c;
}

.Metal_Blue_Hthr {
  background-color: #9fc5f0;
}

.Midas {
  background-color: #9e783f;
}

.Midnight_Navy {
  background-color: #021b40;
}

.Mint {
  background-color: #83f7a9;
}

.Natural {
  background-color: #d3bb9f;
}

.Navy {
  background-color: #021b40;
}

.Navy_White {
  background-color: #375c73;
}

.Navy_Blazer {
  background-color: #472236a9;
}

.Navy_Heather {
  background-color: #4781ce8e;
}

.Neon_Green {
  background-color: #52f805f1;
}

.Neon_Orange {
  background-color: #fc580cf1;
}

.Neon_Pink {
  background-color: #d84c92f1;
}

.Neon_Pink_Glo {
  background-color: #f70980;
}

.Neon_Yellow {
  background-color: #c8fa3ff1;
}

.Newport_Blue {
  background-color: #aec9eaf1;
}

.Nov {
  background-color: #ed2d2d;
}

.Number_0 {
  background-color: rgb(224, 79, 21);
}

.Number_1 {
  background-color: rgb(77, 43, 21);
}

.Number_2 {
  background-color: rgb(19, 57, 116);
}

.Number_3 {
  background-color: #ebe721;
}

.Number_4 {
  background-color: black;
}

.Number_5 {
  background-color: #245c05;
}

.Number_6 {
  background-color: #eb4034;
}

.Number_7 {
  background-color: #09399e;
}

.Number_8 {
  background-color: #570e53;
}

.Number_9 {
  background-color: rgb(32, 61, 7);
}

.Oct {
  background-color: #1a3467;
}

.Olive_Drab_Green {
  background-color: rgb(119, 132, 43);
}

.Opal_White{
  background-color: rgb(235, 232, 202);
}

.Orange {
  background-color: rgb(253, 108, 41);
}

.Oxford_Blue {
  background-color: rgb(168, 200, 245);
}

.Patriot_Blue {
  background-color: #2a5498;
}

.PatriotBlue {
  background-color: #2a5498;
}

.Patriotic {
  background-color: #2a5498;
}

.Peacoat {
  background-color: #233450;
}

.Pearl_Grey {
  background-color: #888385ef;
}

.Pearl_Grey_Heather {
  background-color: #d8ccd156;
}

.Petrol_Grey {
  background-color: #5c665f;
}

.Pink {
  background-color: #f659a5;
}

.Pink_Crush {
  background-color: #b83a77;
}

.Pink_Raspberry {
  background-color: #db0b62;
}

.Plain {
  background-color: rgb(247, 216, 161);
}

.Plastic {
  background-color: rgb(255, 255, 255);
}

.Provence {
  background-color: rgb(155, 202, 247);
}

.Prp_Char{
  background-color: rgb(137, 61, 175);
}

.Purple {
  background-color: #5112a3;
}

.Purple_Magic {
  background-color: #7d2e96;
}

.Quiet_Shade {
  background-color: rgb(85, 95, 87);
}

.Quiet_Shade_Gry_Blk {
  background-color: rgb(74, 72, 72);
}

.Quiet_Shade_Grey_Hthr {
  background-color: rgb(172, 172, 172);
}

.Red {
  background-color: #eb4034;
}

.Red_Grn{
  background-color: rgb(201, 6, 6);
}

.Red_Wht{
  background-color: rgb(234, 28, 28);
}

.Red_Yellow {
  background-color: #f5ed05;
}

.Regatta_Blue {
  background-color: #294366;
}

.Rich_Red {
  background-color: #b90808;
}

.River_Blue_Navy {
  background-color: #051531;
}

.Roan_Rouge {
  background-color: #b97878;
}

.Rogue_Grey {
  background-color: #66676d;
}

.RWB {
  background-color: #fefbfb;
}

.RW0 {
  background-color: #f70a06;
}

.RW1 {
  background-color: #f70a06;
}

.RW2 {
  background-color: #f70a06;
}

.RW3 {
  background-color: #f70a06;
}

.RW4 {
  background-color: #f70a06;
}

.RW5 {
  background-color: #f70a06;
}

.RW6 {
  background-color: #f70a06;
}

.RW7 {
  background-color: #f70a06;
}

.RW8 {
  background-color: #f70a06;
}

.RW9 {
  background-color: #f70a06;
}

.RWP {
  background-color: #f70a06;
}

.RWD {
  background-color: #f70a06;
}

.RWS {
  background-color: #f70a06;
}

.Royal {
  background-color: #0653cf;
}

.Safety_Green {
  background-color: #b3f33df1;
}

.Safety_Orange {
  background-color: #f8550af1;
}

.Sahara {
  background-color: #bea970f1;
}

.Salsa {
  background-color: #eb371ff1;
}

.Salmon {
  background-color: #f06b1ef1;
}

.Sand {
  background-color: #917645f1;
}

.Sep {
  background-color: #dc73bb;
}

.Shadow_Grey {
  background-color: rgb(56, 61, 59);
}

.Shadow_Gry_Hthr {
  background-color: rgb(119, 122, 124);
}

.Shady_Blue {
  background-color: rgb(46, 66, 88);
}

.ShockBlue {
  background-color: rgb(14, 166, 212);
}

.Shady_Blue {
  background-color: rgb(27, 60, 80);
}

.Signal_Red {
  background-color: rgb(211, 24, 24);
}

.Silver {
  background-color: rgb(148, 142, 142);
}

.Slogans {
  background-color: #ffffff;
}

.SLBK0 {
  background-color: #8e8e90;
}

.SLBK1 {
  background-color: #8e8e90;
}

.SLBK2 {
  background-color: #8e8e90;
}

.SLBK3 {
  background-color: #8e8e90;
}

.SLBK4 {
  background-color: #8e8e90;
}

.SLBK5 {
  background-color: #8e8e90;
}

.SLBK6 {
  background-color: #8e8e90;
}

.SLBK7 {
  background-color: #8e8e90;
}

.SLBK8 {
  background-color: #8e8e90;
}

.SLBK9 {
  background-color: #8e8e90;
}

.SLBKP {
  background-color: #8e8e90;
}

.SLBKD {
  background-color: #8e8e90;
}

.SLBKS {
  background-color: #8e8e90;
}

.Silver_Black {
  background-color: #838387;
}

.Smoke {
  background-color: #1b1b1b;
} 

.Smoked_Pearl {
  background-color: #767678;
}

.Smoked_Pearl_Gry {
  background-color: #5d635d;
}

.Spar_Blue {
  background-color: #1d4b5e;
}

.Steel_Grey {
  background-color: #474747;
}

.Stone {
  background-color: #dacd93;
}

.Stormy_Grey {
  background-color: rgb(59, 58, 58);
}

.Strong_Blue {
  background-color: rgb(8, 143, 253);
}

.Surf_the_Web {
  background-color: rgb(14, 116, 231);
}

.Style_A {
  background-color: rgb(205, 10, 10);
}

.Style_B {
  background-color: rgb(205, 10, 10);
}

.Style_C {
  background-color: rgb(247, 251, 3);
}

.Style_D {
  background-color: rgb(247, 251, 3);
}

.Style_E {
  background-color: rgb(125, 162, 64);
}

.Style_F {
  background-color: rgb(30, 67, 114);
}

.Sunglasses {
  background-color: #ffe102;
}

.Tan {
  background-color: #e3c687;
}

.Tarmac_Grey {
  background-color: #46443f;
}

.Teal_Green {
  background-color: #067067;
}

.Team_Anthracite {
  background-color: #50554e;
}

.Team_Black {
  background-color: #1a1919;
}

.Team_Navy {
  background-color: #0d1120;
}

.Team_Red {
  background-color: #7c2222;
}

.Team_Royal {
  background-color: #164c9e;
}

.Team_Red_White {
  background-color: #832a17;
}

.Texas_Orange {
  background-color: #b94e06;
}

.Tidal_Blue{
  background-color: #1cffff;
}

.TNF_Black {
  background-color: black;
}

.TNF_Blackberry_Wine {
  background-color: rgb(33, 18, 44);
}

.TNF_Drk_Gry_Hthr {
  background-color: rgb(141, 136, 136);
}

.TNF_Med_Gry_Hthr {
  background-color: rgba(211, 205, 205, 0.76);
}

.Tour_Blue {
  background-color: #649bec;
}

.Tropic_Blue {
  background-color: #0c7477;
}

.True_Navy {
  background-color: #021b40;
}

.True_Navy_True_Navy {
  background-color: #0e213d;
}

.True_Navy_White {
  background-color: #0e213d;
}

.TruePink {
  background-color: #ed6eab;
}

.True_Pink_White {
  background-color: #ed6eab;
}

.True_Red {
  background-color: #eb4034;
}

.True_Red_White {
  background-color: #bc1e13;
}

.True_Royal {
  background-color: #09399e;
}

.True_Royal_White {
  background-color: #1e518f;
}

.Turquoise {
  background-color: #11b6b6;
}

.Ultramarine_Blue {
  background-color: #538ee6;
}

.University_Blue {
  background-color: #53a9d7;
}

.University_Red {
  background-color: #eb4034;
}

.Urban_Lilac {
  background-color: #c9b2ff;
}

.Urban_Navy_Hthr {
  background-color: #192c38;
}

.Valor_Blue {
  background-color: #a3bcf3;
}

.Varsity_Maize {
  background-color: #f8ea20;
}

.Varsity_Red {
  background-color: #b02929;
}

.Vegas_Gold {
  background-color: #bba466;
}

.Very_Berry {
  background-color: #a52d8b;
}

.Vintage_Indigo {
  background-color: rgb(66, 84, 94);
}

.Vintage_Indigo_Blk {
  background-color: rgb(59, 69, 98);
}

.Vivid_Pink {
  background-color: rgb(238, 58, 157);
}

.White {
  background-color: #ffffff;
}

.White_White {
  background-color: #ffffff;
}

.White_Black_Black {
  background-color: #ffffff;
}

.White_True_Navy {
  background-color: #ffffff;
}

.Woodland_Brown {
  background-color: #b86818;
}

.Woodland_Camo {
  background-color: #3d7c45;
}

.Yellow {
  background-color: #ebe721;
}

.YB0 {
  background-color: #f5ed05;
}

.YB1 {
  background-color: #f5ed05;
}

.YB2 {
  background-color: #f5ed05;
}

.YB3 {
  background-color: #f5ed05;
}

.YB4 {
  background-color: #f5ed05;
}

.YB5 {
  background-color: #f5ed05;
}

.YB6 {
  background-color: #f5ed05;
}

.YB7 {
  background-color: #f5ed05;
}

.YB8 {
  background-color: #f5ed05;
}

.YB9 {
  background-color: #f5ed05;
}

.YBS {
  background-color: #f5ed05;
}

.YBP {
  background-color: #f5ed05;
}

.YBD {
  background-color: #f5ed05;
}

.YBK0 {
  background-color: #f5ed05;
}

.YBK1 {
  background-color: #f5ed05;
}

.YBK2 {
  background-color: #f5ed05;
}

.YBK3 {
  background-color: #f5ed05;
}

.YBK4 {
  background-color: #f5ed05;
}

.YBK5 {
  background-color: #f5ed05;
}

.YBK6 {
  background-color: #f5ed05;
}

.YBK7 {
  background-color: #f5ed05;
}

.YBK8 {
  background-color: #f5ed05;
}

.YBK9 {
  background-color: #f5ed05;
}

.YBKS {
  background-color: #f5ed05;
}

.YBKP {
  background-color: #f5ed05;
}

.YBKD {
  background-color: #f5ed05;
}

.YR0 {
  background-color: #f5ed05;
}

.YR1 {
  background-color: #f5ed05;
}

.YR2 {
  background-color: #f5ed05;
}

.YR3 {
  background-color: #f5ed05;
}

.YR4 {
  background-color: #f5ed05;
}

.YR5 {
  background-color: #f5ed05;
}

.YR6 {
  background-color: #f5ed05;
}

.YR7 {
  background-color: #f5ed05;
}

.YR8 {
  background-color: #f5ed05;
}

.YR9 {
  background-color: #f5ed05;
}

.YRS {
  background-color: #f5ed05;
}

.YRP {
  background-color: #f5ed05;
}

.YRD {
  background-color: #f5ed05;
}

.YR_07 {
  background-color: #117cd3;
}

.YR_08 {
  background-color: #117cd3;
}

.YR_09 {
  background-color: #117cd3;
}

.YR_10 {
  background-color: #117cd3;
}

.YR_11 {
  background-color: #117cd3;
}

.YR_12 {
  background-color: #117cd3;
}

.YR_13 {
  background-color: #117cd3;
}

.YR_14 {
  background-color: #117cd3;
}

.YR_15 {
  background-color: #117cd3;
}

.YR_16 {
  background-color: #117cd3;
}

.YR_17 {
  background-color: #117cd3;
}

.YR_18 {
  background-color: #117cd3;
}

.YR_19 {
  background-color: #117cd3;
}

.YR_20 {
  background-color: #117cd3;
}

.YR_21 {
  background-color: #117cd3;
}

.YR_22 {
  background-color: #117cd3;
}

.YR_23 {
  background-color: #117cd3;
}

.YR_24 {
  background-color: #117cd3;
}

.YR_25 {
  background-color: #117cd3;
}

.YR_26 {
  background-color: #117cd3;
}

.YR_2016 {
  background-color: #74787c;
}

.YR_2017 {
  background-color: #74787c;
}

.YR_2018 {
  background-color: #74787c;
}

.YR_2019 {
  background-color: #74787c;
}

.YR_2020 {
  background-color: #74787c;
}

.YR_2021 {
  background-color: #74787c;
}

.YR_2022 {
  background-color: #74787c;
}

.YR_2023 {
  background-color: #74787c;
}

.YR_2024 {
  background-color: #74787c;
}

.YR_2025 {
  background-color: #74787c;
}

.YR_2026 {
  background-color: #74787c;
}

.WB0 {
  background-color: #fefefe;
}

.WB1 {
  background-color: #fefefe;
}

.WB2 {
  background-color: #fefefe;
}

.WB3 {
  background-color: #fefefe;
}

.WB4 {
  background-color: #fefefe;
}

.WB5 {
  background-color: #fefefe;
}

.WB6 {
  background-color: #fefefe;
}

.WB7 {
  background-color: #fefefe;
}

.WB8 {
  background-color: #fefefe;
}

.WB9 {
  background-color: #fefefe;
}

.WBP {
  background-color: #fefefe;
}

.WBD {
  background-color: #fefefe;
}

.WBS {
  background-color: #fefefe;
}
