.container {
  display: flex;
  justify-content: center;
}

.back__button {
  position: relative;
  right: 50px;
  cursor: pointer;
  font-size: 32px;
}

.flex {
  display: flex;
}

.md_margin_bottom {
  margin-bottom: 50px;
}

.card {
  display: flex;
  gap: 50px;
  background-color: white;
  padding: 25px;
  min-width: 1000px;
  border: 1px solid grey;
}

#move {
  position: relative;
  right: 10px;
}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 520px;
  min-width: 400px;
  max-width: 450px;

  img {
    max-height: 100%;
    max-width: 450px;
    aspect-ratio: auto;
  }
}

.information__panel {
  position: relative;
  top: 50px;
  padding-bottom: 35px;

  .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .price {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .restriction {
    margin-bottom: 25px;
    font-weight: 500;
    color: rgb(225, 0, 0);
  }
}

.selected {
  outline: 4px solid rgb(251, 251, 6);
}

.size__selector {
  margin-bottom: 25px;
}

.color__selector {
  display: flex;
  gap: 15px;
}

.color__option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color__title {
  font-size: 18px;
  font-weight: 500;
}

.color__block {
  height: 32px;
  width: 38px;
  cursor: pointer;
  border: 1px solid grey;
}

.color__triangle {
  height: 0px;
  width: 0px;
  border-right: 38px solid transparent;
  border-top: 29px solid white;
}

.color__name p {
  width: 60px;
  text-align: center;
}

.selector {
  margin-top: 20px;
  width: 200px;
}

.checkout__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3c313;
  width: 135px;
  height: 30px;
  margin-top: 15px;
  border-radius: 15px;
  cursor: pointer;

  p {
    font-size: 16px;
    position: relative;
    bottom: 1px;
    font-weight: 500;
  }
}

table {
  margin-top: 20px;
  input {
    width: 100%;
  }
}

td {
  width: 50px;
}

th {
  width: 75px;
}

.Assorted {
  background-color: #fffffb;
}

.BY_09 {
  background-color: #fbff00;
}

.BY_10 {
  background-color: #fbff00;
}

.BY_11 {
  background-color: #fbff00;
}

.BY_12 {
  background-color: #fbff00;
}

.BY_13 {
  background-color: #fbff00;
}

.BY_14 {
  background-color: #fbff00;
}

.BY_15 {
  background-color: #fbff00;
}

.BY_16 {
  background-color: #fbff00;
}

.BY_17 {
  background-color: #fbff00;
}

.BY_18 {
  background-color: #fbff00;
}

.BY_19 {
  background-color: #fbff00;
}

.BY_20 {
  background-color: #fbff00;
}

.BY_21 {
  background-color: #fbff00;
}

.BY_22 {
  background-color: #fbff00;
}

.BY_23 {
  background-color: #fbff00;
}

.BY_24 {
  background-color: #fbff00;
}

.BY_25 {
  background-color: #fbff00;
}

.BY_26 {
  background-color: #fbff00;
}

.CBK0 {
  background-color: #a5a73d;
}

.CBK1 {
  background-color: #a5a73d;
}

.CBK2 {
  background-color: #a5a73d;
}

.CBK3 {
  background-color: #a5a73d;
}

.CBK4 {
  background-color: #a5a73d;
}

.CBK5 {
  background-color: #a5a73d;
}

.CBK6 {
  background-color: #a5a73d;
}

.CBK7 {
  background-color: #a5a73d;
}

.CBK8 {
  background-color: #a5a73d;
}

.CBK9 {
  background-color: #a5a73d;
}

.CBKS {
  background-color: #a5a73d;
}

.CBKP {
  background-color: #a5a73d;
}

.CBKD {
  background-color: #a5a73d;
}

._0000 {
  background-color: #fafafa;
}

._1000 {
  background-color: #fafafa;
}

._2000 {
  background-color: #fafafa;
}

._3000 {
  background-color: #fafafa;
}

._4000 {
  background-color: #fafafa;
}

._5000 {
  background-color: #fafafa;
}

._6000 {
  background-color: #fafafa;
}

._7000 {
  background-color: #fafafa;
}

._8000 {
  background-color: #fafafa;
}

._9000 {
  background-color: #fafafa;
}

.Amber_Gold {
  background-color: #d5b259;
}

.Anthracite {
  background-color: #575859;
}

.Anthr_White {
  background-color: #575859;
}

.Ash {
  background-color: #ebedf0d7;
}

.Athletic_Heather {
  background-color: #a7a7a8;
}

.Athletic_Oxford {
  background-color: #d4d8dd7c;
}

.Athletic_Red {
  background-color: #c91818;
}

.Athletic_Royal {
  background-color: #145cb4;
}

.Beige {
  background-color: #e4be6d;
}

.Battleship_Grey {
  background-color: #444649;
}

.BKHP0 {
  background-color: black;
}

.BKHP1 {
  background-color: black;
}

.BKHP2 {
  background-color: black;
}

.BKHP3 {
  background-color: black;
}

.BKHP4 {
  background-color: black;
}

.BKHP5 {
  background-color: black;
}

.BKHP6 {
  background-color: black;
}

.BKHP7 {
  background-color: black;
}

.BKHP8 {
  background-color: black;
}

.BKHP9 {
  background-color: black;
}

.BKHPS {
  background-color: black;
}

.BKHPP {
  background-color: black;
}

.BKHPD {
  background-color: black;
}

.Beryl_Grn_Hthr {
  background-color: rgb(192, 224, 167);
}

.Black {
  background-color: black;
}

.Blk_Blk {
  background-color: black;
}

.Blk_Game_Royal {
  background-color: black;
}

.Blk_White {
  background-color: black;
}

.Blacktop {
  background-color: black;
}

.Black_Charcoal_Heather {
  background-color: #524d4fdb;
}

.Black_Grey_Steel {
  background-color: black;
}

.Black_Heather {
  background-color: rgba(104, 101, 101, 0.986);
}

.Black_Leather {
  background-color: black;
}

.Black_Metal {
  background-color: black;
}

.Black_White{
  background-color: black;
}

.Blk_Char{
  background-color: black;
}

.Blk_Htpk{
  background-color: black;
}

.Blk_Yllw{
  background-color: black;
}

.Blu_Wht{
  background-color: rgb(35, 84, 174);
}

.Blue {
  background-color: #09399e;
}

.Blue24 {
  background-color: #1b6cce;
}

.Blue25 {
  background-color: #1b6cce;
}

.Blue26 {
  background-color: #1b6cce;
}

.Blue_Lake {
  background-color: #66baeb;
}

.Blue_Mist {
  background-color: #5dabbe;
}

.Blue_Nights {
  background-color: #082d59;
}

.Blue_Tint {
  background-color: #cefff3;
}

.Blue_Yellow {
  background-color: #f5ed05;
}

.BLW0 {
  background-color: #0591f5;
}

.BLW1 {
  background-color: #0591f5;
}

.BLW2 {
  background-color: #0591f5;
}

.BLW3 {
  background-color: #0591f5;
}

.BLW4 {
  background-color: #0591f5;
}

.BLW5 {
  background-color: #0591f5;
}

.BLW6 {
  background-color: #0591f5;
}

.BLW7 {
  background-color: #0591f5;
}

.BLW8 {
  background-color: #0591f5;
}

.BLW9 {
  background-color: #0591f5;
}

.BLWP {
  background-color: #0591f5;
}

.BLWD {
  background-color: #0591f5;
}

.BLWS {
  background-color: #0591f5;
}

.Bright_Purple {
  background-color: #25022c;
}

.Bright_White {
  background-color: #ffffff;
}

.Brilliant_Blue_Hthr {
  background-color: rgb(159, 233, 247);
}

.Brown {
  background-color: rgb(77, 43, 21);
}

.Buff {
  background-color: rgb(227, 195, 125);
}

.Burgundy {
  background-color: #6f0f08;
}

.Candy_Pink {
  background-color: #e7a5d3f1;
}

.Cardinal {
  background-color: #6b1d1d;
}

.Carolina_Blue {
  background-color: #55a3e2;
}

.Char24 {
  background-color: #b7c74a;
}

.Char25 {
  background-color: #b7c74a;
}

.Char26 {
  background-color: #b7c74a;
}

.Charcoal {
  background-color: #575859;
}

.Charcoal_Heather {
  background-color: #252627;
}

.Chrome_Faced {
  background-color: #5a5a5b;
}

.Chrome {
  background-color: #5a5a5b;
}

.Chrome_Plated {
  background-color: #5a5a5b;
}

.Classic_Blue {
  background-color: rgb(44, 163, 199);
}

.Clear {
  background-color: rgb(202, 206, 207);
}

.Clear_Plastic {
  background-color: rgb(202, 206, 207);
}

.Crimson {
  background-color: rgb(131, 17, 17);
}

.Coastal_Blue {
  background-color: rgb(34, 166, 243);
}

.Cobalt_Blue {
  background-color: rgb(54, 128, 240);
}

.Cool_Grey {
  background-color: #aeafb1;
}

.Cool_Grey_White {
  background-color: #aeafb1;
}

.Court_Blue {
  background-color: #1e546c;
}

.Dark_Grey {
  background-color: #5e666a;
}

.Dk_Green {
  background-color: rgb(32, 61, 7);
}

.Drk_Gry_Hthr {
  background-color: rgb(43, 42, 42);
}

.Drk_Hthr_Gry {
  background-color: rgb(99, 96, 96);
}

.Deep_Black {
  background-color: rgb(20, 20, 20);
}

.Deep_Navy {
  background-color: rgb(4, 16, 45);
}

.Deep_Navywt {
  background-color: rgb(29, 40, 66);
}

.Deep_Orange {
  background-color: #ce4d1a;
}

.Deep_Red {
  background-color: #b41b1b;
}

.Deep_Smoke {
  background-color: #737777;
}

.Diesel_Grey {
  background-color: rgb(85, 80, 80);
}

.Direct_Blue {
  background-color: #108fb6;
}

.Dress_Blue_Navy {
  background-color: #192b5c;
}

.Electric_Blue {
  background-color: rgb(13, 135, 216);
}

.Engine_Red {
  background-color: rgb(196, 2, 2);
}

.Federal_Blue {
  background-color: #72a5d2;
}

.Forest_Green {
  background-color: #025225;
}

.Flame_Red_White {
  background-color: #c91a1a;
}

.Fluorg {
  background-color: #90f111;
}

.Fluoro {
  background-color: #fe5f04;
}

.Fluorp {
  background-color: #f107ab;
}

.Fluorr {
  background-color: #e60f0f;
}

.Fluory {
  background-color: #f6ff00;
}

.Fuchsia {
  background-color: #c421ae;
}

.Full_Color {
  background-color: #ffffff;
}

.Game_Royal {
  background-color: rgb(13, 17, 237);
}

.Gear_Grey_Hthr {
  background-color: #a7a5a0;
}

.Gold {
  background-color: #8c630b;
}

.Gold_Black {
  background-color: #c98c09;
}

.GDBK0 {
  background-color: #9e774f;
}

.GDBK1 {
  background-color: #9e774f;
}

.GDBK2 {
  background-color: #9e774f;
}

.GDBK3 {
  background-color: #9e774f;
}

.GDBK4 {
  background-color: #9e774f;
}

.GDBK5 {
  background-color: #9e774f;
}

.GDBK6 {
  background-color: #9e774f;
}

.GDBK7 {
  background-color: #9e774f;
}

.GDBK8 {
  background-color: #9e774f;
}

.GDBK9 {
  background-color: #9e774f;
}

.GDBKP {
  background-color: #9e774f;
}

.GDBKD {
  background-color: #9e774f;
}

.GDBKS {
  background-color: #9e774f;
}

.Gorge_Green {
  background-color: #025225;
}

.Graphite {
  background-color: #555555f1;
}

.Graphite_Black {
  background-color: #555555f1;
}

.Graphite_Graphite {
  background-color: #555555f1;
}

.Graphite_White {
  background-color: #555555f1;
}

.Gray {
  background-color: #8b8c8f;
}

.Green {
  background-color: #245c05;
}

.Grey {
  background-color: #8b8c8f;
}

.Grey_Concrete {
  background-color: #9da6b0;
}

.Grey_Steel {
  background-color: #575859;
}

.Gridiron_Green {
  background-color: #42993f;
}

.Gun_Metal {
  background-color: #5a5a5b;
}

.Gusty_Grey {
  background-color: #afafaf;
}

.Gym_Blue {
  background-color: #0653cf;
}

.Gym_Blue_White {
  background-color: #3b88b1;
}

.Gym_Red {
  background-color: #da2c2c;
}

.Happy {
  background-color: #ffe102;
}

.Heather_Grey_Black {
  background-color: #b7bec1;
}

.Heather_Grey_White {
  background-color: #b7bec1;
}

.Hunter {
  background-color: #025225;
}

.Insignia_Blue {
  background-color: #4f6185;
}

.Iron_Grey {
  background-color: #5f6062;
}

.Jet_Black {
  background-color: #040508;
}

.Kelly_Green {
  background-color: #0d8041;
}

.Kraft_Paper {
  background-color: #f0b30a;
}

.Light_Blue {
  background-color: #6eb6ed;
}

.Light_Blue_Hthr {
  background-color: #9bc8eb;
}

.Light_Khaki_White {
  background-color: #dbcd84;
}

.Light_Pink {
  background-color: #e9a5d8;
}

.Lavender {
  background-color: #a880ad;
}

.Light_Photo_Blue {
  background-color: #1da1f3;
}

.Lilac {
  background-color: #c9aee2;
}

.Lime {
  background-color: #70a44e;
}

.Lime_Green {
  background-color: #87ec43;
}

.Lime_Shock {
  background-color: #8ab821;
}

.Loden {
  background-color: #61684f;
}

.Magenta {
  background-color: rgb(182, 28, 164);
}

.Magnet {
  background-color: rgb(99, 93, 93);
}

.Metal {
  background-color: rgb(151, 151, 151);
}

.Maroon {
  background-color: #421111;
}

.Medium_Blue {
  background-color: #1cc5f0f1;
}

.Medium_Grey {
  background-color: #6c6d74;
}

.Medium_Grey_Hthr {
  background-color: #6c6d74;
}

.Metal_Blue_Hthr {
  background-color: #9fc5f0;
}

.Midnight_Navy {
  background-color: #021b40;
}

.Navy {
  background-color: #021b40;
}

.Navy_White {
  background-color: #375c73;
}

.Navy_Blazer {
  background-color: #472236a9;
}

.Navy_Heather {
  background-color: #4781ce8e;
}

.Neon_Pink {
  background-color: #d84c92f1;
}

.Newport_Blue {
  background-color: #aec9eaf1;
}

.Number_0 {
  background-color: rgb(224, 79, 21);
}

.Number_1 {
  background-color: rgb(77, 43, 21);
}

.Number_2 {
  background-color: rgb(19, 57, 116);
}

.Number_3 {
  background-color: #ebe721;
}

.Number_4 {
  background-color: black;
}

.Number_5 {
  background-color: #245c05;
}

.Number_6 {
  background-color: #eb4034;
}

.Number_7 {
  background-color: #09399e;
}

.Number_8 {
  background-color: #570e53;
}

.Number_9 {
  background-color: rgb(32, 61, 7);
}

.Olive_Drab_Green {
  background-color: rgb(119, 132, 43);
}

.Orange {
  background-color: rgb(224, 79, 21);
}

.Oxford_Blue {
  background-color: rgb(168, 200, 245);
}

.Patriot_Blue {
  background-color: #2a5498;
}

.Patriot_Blue_White {
  background-color: #2a5498;
}

.Patriotic {
  background-color: #2a5498;
}

.Peacoat {
  background-color: #233450;
}

.Pearl_Grey_Heather {
  background-color: #d8ccd156;
}

.Pink {
  background-color: #f659a5;
}

.Pink_Crush {
  background-color: #b83a77;
}

.Pink_Raspberry {
  background-color: #db0b62;
}

.Plastic {
  background-color: rgb(255, 255, 255);
}

.Prp_Char{
  background-color: rgb(137, 61, 175);
}

.Purple {
  background-color: #5112a3;
}

.Quiet_Shade_Gry_Blk {
  background-color: rgb(74, 72, 72);
}

.Quiet_Shade_Grey_Hthr {
  background-color: rgb(172, 172, 172);
}

.Red {
  background-color: #eb4034;
}

.Red_Grn{
  background-color: rgb(201, 6, 6);
}

.Red_Wht{
  background-color: rgb(234, 28, 28);
}

.Red_Yellow {
  background-color: #f5ed05;
}

.Regatta_Blue {
  background-color: #294366;
}

.Rich_Red {
  background-color: #b90808;
}

.River_Blue_Navy {
  background-color: #051531;
}

.Roan_Rouge {
  background-color: #b97878;
}

.Rogue_Grey {
  background-color: #66676d;
}

.RWB {
  background-color: #fefbfb;
}

.RW0 {
  background-color: #f70a06;
}

.RW1 {
  background-color: #f70a06;
}

.RW2 {
  background-color: #f70a06;
}

.RW3 {
  background-color: #f70a06;
}

.RW4 {
  background-color: #f70a06;
}

.RW5 {
  background-color: #f70a06;
}

.RW6 {
  background-color: #f70a06;
}

.RW7 {
  background-color: #f70a06;
}

.RW8 {
  background-color: #f70a06;
}

.RW9 {
  background-color: #f70a06;
}

.RWP {
  background-color: #f70a06;
}

.RWD {
  background-color: #f70a06;
}

.RWS {
  background-color: #f70a06;
}

.Royal {
  background-color: #0653cf;
}

.Salsa {
  background-color: #eb371ff1;
}

.Salmon {
  background-color: #f06b1ef1;
}

.Signal_Red {
  background-color: rgb(211, 24, 24);
}

.Silver {
  background-color: rgb(164, 160, 160);
}

.Slogans {
  background-color: #ffffff;
}

.SLBK0 {
  background-color: #8e8e90;
}

.SLBK1 {
  background-color: #8e8e90;
}

.SLBK2 {
  background-color: #8e8e90;
}

.SLBK3 {
  background-color: #8e8e90;
}

.SLBK4 {
  background-color: #8e8e90;
}

.SLBK5 {
  background-color: #8e8e90;
}

.SLBK6 {
  background-color: #8e8e90;
}

.SLBK7 {
  background-color: #8e8e90;
}

.SLBK8 {
  background-color: #8e8e90;
}

.SLBK9 {
  background-color: #8e8e90;
}

.SLBKP {
  background-color: #8e8e90;
}

.SLBKD {
  background-color: #8e8e90;
}

.SLBKS {
  background-color: #8e8e90;
}

.Silver_Black {
  background-color: #838387;
}

.Smoked_Pearl {
  background-color: #767678;
}

.Spar_Blue {
  background-color: #1d4b5e;
}

.Steel_Grey {
  background-color: #474747;
}

.Stormy_Grey {
  background-color: rgb(59, 58, 58);
}

.Style_A {
  background-color: rgb(205, 10, 10);
}

.Style_B {
  background-color: rgb(205, 10, 10);
}

.Style_C {
  background-color: rgb(247, 251, 3);
}

.Style_D {
  background-color: rgb(247, 251, 3);
}

.Style_E {
  background-color: rgb(125, 162, 64);
}

.Style_F {
  background-color: rgb(30, 67, 114);
}

.Sunglasses {
  background-color: #ffe102;
}

.Tan {
  background-color: #e3c687;
}

.Teal {
  background-color: #067067;
}

.Team_Red_White {
  background-color: #832a17;
}

.Texas_Orange {
  background-color: #b94e06;
}

.Tnf_Black {
  background-color: black;
}

.Tnf_Drk_Gry_Hthr {
  background-color: rgb(141, 136, 136);
}

.Tnf_Med_Gry_Hthr {
  background-color: rgba(211, 205, 205, 0.76);
}

.Tour_Blue {
  background-color: #649bec;
}

.Tropic_Blue {
  background-color: #0c7477;
}

.True_Navy {
  background-color: #021b40;
}

.True_Navy_True_Navy {
  background-color: #0e213d;
}

.True_Navy_White {
  background-color: #0e213d;
}

.True_Pink_White {
  background-color: #ed6eab;
}

.True_Red {
  background-color: #eb4034;
}

.True_Red_White {
  background-color: #bc1e13;
}

.True_Royal {
  background-color: #09399e;
}

.True_Royal_White {
  background-color: #1e518f;
}

.University_Blue {
  background-color: #53a9d7;
}

.University_Red {
  background-color: #eb4034;
}

.Valor_Blue {
  background-color: #a3bcf3;
}

.Varsity_Red {
  background-color: #b02929;
}

.Vegas_Gold {
  background-color: #bba466;
}

.Very_Berry {
  background-color: #a52d8b;
}

.Vintage_Indigo {
  background-color: rgb(66, 84, 94);
}

.Vintage_Indigo_Blk {
  background-color: rgb(59, 69, 98);
}

.White {
  background-color: #ffffff;
}

.White_White {
  background-color: #ffffff;
}

.White_Black_Black {
  background-color: #ffffff;
}

.White_True_Navy {
  background-color: #ffffff;
}

.Woodland_Brown {
  background-color: #b86818;
}

.Woodland_Camo {
  background-color: #3d7c45;
}

.Yellow {
  background-color: #ebe721;
}

.YB0 {
  background-color: #f5ed05;
}

.YB1 {
  background-color: #f5ed05;
}

.YB2 {
  background-color: #f5ed05;
}

.YB3 {
  background-color: #f5ed05;
}

.YB4 {
  background-color: #f5ed05;
}

.YB5 {
  background-color: #f5ed05;
}

.YB6 {
  background-color: #f5ed05;
}

.YB7 {
  background-color: #f5ed05;
}

.YB8 {
  background-color: #f5ed05;
}

.YB9 {
  background-color: #f5ed05;
}

.YBS {
  background-color: #f5ed05;
}

.YBP {
  background-color: #f5ed05;
}

.YBD {
  background-color: #f5ed05;
}

.YBK0 {
  background-color: #f5ed05;
}

.YBK1 {
  background-color: #f5ed05;
}

.YBK2 {
  background-color: #f5ed05;
}

.YBK3 {
  background-color: #f5ed05;
}

.YBK4 {
  background-color: #f5ed05;
}

.YBK5 {
  background-color: #f5ed05;
}

.YBK6 {
  background-color: #f5ed05;
}

.YBK7 {
  background-color: #f5ed05;
}

.YBK8 {
  background-color: #f5ed05;
}

.YBK9 {
  background-color: #f5ed05;
}

.YBKS {
  background-color: #f5ed05;
}

.YBKP {
  background-color: #f5ed05;
}

.YBKD {
  background-color: #f5ed05;
}

.YR0 {
  background-color: #f5ed05;
}

.YR1 {
  background-color: #f5ed05;
}

.YR2 {
  background-color: #f5ed05;
}

.YR3 {
  background-color: #f5ed05;
}

.YR4 {
  background-color: #f5ed05;
}

.YR5 {
  background-color: #f5ed05;
}

.YR6 {
  background-color: #f5ed05;
}

.YR7 {
  background-color: #f5ed05;
}

.YR8 {
  background-color: #f5ed05;
}

.YR9 {
  background-color: #f5ed05;
}

.YRS {
  background-color: #f5ed05;
}

.YRP {
  background-color: #f5ed05;
}

.YRD {
  background-color: #f5ed05;
}

.YR_07 {
  background-color: #117cd3;
}

.YR_08 {
  background-color: #117cd3;
}

.YR_09 {
  background-color: #117cd3;
}

.YR_10 {
  background-color: #117cd3;
}

.YR_11 {
  background-color: #117cd3;
}

.YR_12 {
  background-color: #117cd3;
}

.YR_13 {
  background-color: #117cd3;
}

.YR_14 {
  background-color: #117cd3;
}

.YR_15 {
  background-color: #117cd3;
}

.YR_16 {
  background-color: #117cd3;
}

.YR_17 {
  background-color: #117cd3;
}

.YR_18 {
  background-color: #117cd3;
}

.YR_19 {
  background-color: #117cd3;
}

.YR_20 {
  background-color: #117cd3;
}

.YR_21 {
  background-color: #117cd3;
}

.YR_22 {
  background-color: #117cd3;
}

.YR_23 {
  background-color: #117cd3;
}

.YR_24 {
  background-color: #117cd3;
}

.YR_25 {
  background-color: #117cd3;
}

.YR_26 {
  background-color: #117cd3;
}

.YR_2016 {
  background-color: #74787c;
}

.YR_2017 {
  background-color: #74787c;
}

.YR_2018 {
  background-color: #74787c;
}

.YR_2019 {
  background-color: #74787c;
}

.YR_2020 {
  background-color: #74787c;
}

.YR_2021 {
  background-color: #74787c;
}

.YR_2022 {
  background-color: #74787c;
}

.YR_2023 {
  background-color: #74787c;
}

.YR_2024 {
  background-color: #74787c;
}

.YR_2025 {
  background-color: #74787c;
}

.YR_2026 {
  background-color: #74787c;
}

.WB0 {
  background-color: #fefefe;
}

.WB1 {
  background-color: #fefefe;
}

.WB2 {
  background-color: #fefefe;
}

.WB3 {
  background-color: #fefefe;
}

.WB4 {
  background-color: #fefefe;
}

.WB5 {
  background-color: #fefefe;
}

.WB6 {
  background-color: #fefefe;
}

.WB7 {
  background-color: #fefefe;
}

.WB8 {
  background-color: #fefefe;
}

.WB9 {
  background-color: #fefefe;
}

.WBP {
  background-color: #fefefe;
}

.WBD {
  background-color: #fefefe;
}

.WBS {
  background-color: #fefefe;
}
