.container {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.md_margin_bottom {
  margin-bottom: 50px;
}

.card {
  display: flex;
  gap: 50px;
  background-color: white;
  padding: 25px;
  min-width: 1000px;
  border: 1px solid grey;
}

#move {
  position: relative;
  right: 10px;
}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 520px;
  min-width: 400px;
  max-width: 450px;

  img {
    max-height: 100%;
    max-width: 450px;
    aspect-ratio: auto;
  }
}

.information__panel {
  position: relative;
  top: 50px;
  padding-bottom: 35px;

  .name {
    font-size: 24px;
    font-weight: bold;
  }

  .restriction {
    margin-bottom: 25px;
    font-weight: 500;
    color: rgb(225, 0, 0);
  }
}

.selected {
  outline: 4px solid rgb(251, 251, 6);
}

.size__selector {
  margin-bottom: 25px;
}

.color__triangle {
  height: 0px;
  width: 0px;
  border-right: 38px solid transparent;
  border-top: 29px solid white;
}

.selector {
  margin-top: 20px;
  width: 200px;
}

table {
  margin-top: 20px;
  input {
    width: 100%;
  }
}

td {
  width: 50px;
}

th {
  width: 75px;
}
