.landing {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 650px;
    flex-direction: column;
    margin-bottom: 150px;
    gap: 120px;

}

.catalog {
    display: flex;
    justify-content: center;
    gap: 105px;
}

.logo__preview {
    display: flex;
    gap: 20px;
    justify-content: center;
    

    .title {
        display: flex;
        align-items: center;
    }

    img {
        width: 140px;
    }

    #dodge {
        width: 165px;
    }

    p {
        font-weight: bold;
        font-size: 24px;
    }
}