.landing {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  margin-bottom: 150px;
  height: 650px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
  max-width: 900px;
  padding: 15px;
}

.back__button {
  position: absolute;
  left: 300px;
  cursor: pointer;
  font-size: 32px;
}

.minimum {
  position: absolute;
  left: 100px;
  top: 50px;
  display: flex;
  align-items: center;
  height: 100%;

}

.text__wrapper {
  padding: 5px;
  border: 1px solid grey;

  border-radius: 10px;

  p {
    font-size: 24px;
    font-weight: bold;
  }
}

.logo__preview {
  display: flex;
  position: absolute;
  right: 50px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  width: 350px;

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .title {
    display: flex;
    align-items: center;
  }

  img {
    width: 140px;
  }

  .large__picture {
    width: 165px;
  }

  .quicklane {
    width: 200px;
  }

  p {
    font-weight: bold;
    font-size: 24px;
  }
}