.landing {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 45px;
    margin-bottom: 150px;
    height: 650px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    max-width: 900px;
}