.navbar {
  background-color: #001489;

}

.title {
    position: relative;
    height: 100px;
    color: white;
    font-size: 24px;

    .text {
        position: absolute;
        left: 35px;
        top: 8px;
        cursor: pointer;
    }

    .cart {
        position: absolute;
        right: 35px;
        top: 35px;
        cursor: pointer;
    }
}



.logo {
    position: absolute;
    top: 25px;
    left: 45px;
    height: auto;
    cursor: pointer;
}